<div class="absolute">
    <div class="container">
        <div class="row">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="?page=login">Logowanie</a></li>
                <li><a href="?page=register">Rejestracja</a></li>
                <li><a href="?page=admin">Admin</a></li>
            </ul>
        </div>
    </div>
</div>